@font-face {
  font-family: "Book";
  src: url("assets/fonts/FuseV.2Display-Book.woff2") format("woff2");
}
@font-face {
  font-family: "BookItalic";
  src: url("assets/fonts/FuseV.2Display-BookItalic.woff2") format("woff2");
}
@font-face {
  font-family: "ExtraBoldBook";
  src: url("assets/fonts/FuseV.2Display-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "ExtraBoldItalicBook";
  src: url("assets/fonts/FuseV.2Display-ExtraBoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "TextBook";
  src: url("assets/fonts/FuseV.2Text-Book.woff2") format("woff2");
}
@font-face {
  font-family: "TextBookItalic";
  src: url("assets/fonts/FuseV.2Text-BookItalic.woff2") format("woff2");
}

:root {
  --book-font: "Book", sans-serif;
  --book-italic-font: "BookItalic", sans-serif;
  --extra-bold-book-font: "ExtraBoldBook", sans-serif;
  --extra-bold-italic-book-font: "ExtraBoldItalicBook", sans-serif;
  --text-book-font: "TextBook", sans-serif;
  --text-book-italic-font: "TextBookItalic", sans-serif;

  --book-font-weight: Book;
  --book-extra-boldfont-weight: ExtraBold;
  --book-xxl-boldfont-weight: 800;

  --xs-letter-spacing: -2%;
  --s-letter-spacing: -1%;
  --m-letter-spacing: 0%;
  --l-letter-spacing: 2%;
  --xl-letter-spacing: 8%;

  --tight-line-height: 14px;
  --compact-line-height: 16px;
  --normal-line-height: 24px;
  --relaxed-line-height: 28px;
  --loose-line-height: 32px;
  --cozy-line-height: 40px;
  --spacious-line-height: 56px;
  --airy-line-height: 88px;
  --generous-line-height: 120px;

  --tiny-font-size: 14px;
  --small-font-size: 16px;
  --medium-font-size: 24px;
  --large-font-size: 36px;
  --x-large-font-size: 54px;
  --xx-large-font-size: 81px;
  --huge-font-size: 122px;
}
* {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--book-font);
  overflow-x: hidden;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1232px;
  height: 44px;
  margin-top: 32px;
  margin-left: 104px;
}
.header-logo img {
  height: 44px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav a {
  text-decoration: none;
  margin: 0 20px;
}
.header-nav a:first-child:hover {
  background: conic-gradient(
    from 118deg at 29.17% 50%,
    #2361a6 107.5842833518982deg,
    #c75593 232.76602506637573deg,
    #694696 336.43709421157837deg
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}
.header-nav button {
  margin-left: 20px;
  width: 151px;
  height: 44px;
  border: 1px solid transparent;
  border-image: linear-gradient(
      125deg,
      #0d8ed3 5.44%,
      #0b60bb 17.95%,
      #0a3aa7 36.44%,
      #6a387d 69.53%,
      #c53754 105.59%,
      #fa5240 117.57%
    )
    1;
  font-size: var(--small-font-size);
  line-height: var(--compact-line-height);
  font-family: var(--extra-bold-book-font);
  font-weight: var(--book-extra-boldfont-weight);
  letter-spacing: var(--xl-letter-spacing);
}
.header-mobile {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 375px;
  height: 80px;
  padding: 24px;
  box-sizing: border-box;
}
.header-mobile .header-logo img {
  width: 24px;
  height: 28.71px;
}
.hamburger {
  display: none;
  width: 24px;
  padding: 9.33px 4px 8px 4px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 22px;
}
.hamburger-line {
  display: block;
  width: 30px;
  height: 1px;
  background-color: white;
  margin: 5px 0;
}
.call-to-action {
  max-width: 1030px;
  max-height: 336px;
  margin: 0 auto;
  margin-top: 152px;
}
.call-to-action h6 {
  max-width: 1030px;
  text-align: center;
  font-size: var(--medium-font-size);
  font-weight: var(--book-font);
  line-height: var(--relaxed-line-height);
  margin-bottom: 16px;
}
.call-to-action p {
  text-align: center;
  font-family: var(--extra-bold-book-font);
  font-size: var(--huge-font-size);
  font-weight: var(--book-xxl-boldfont-weight);
  margin-bottom: 88px;
  background: linear-gradient(
    45deg,
    #00b5c1 9.43%,
    #4336b9 41.88%,
    #fa4343 106.56%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.call-to-action div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 24px;
}
.call-to-action div svg {
  width: 3px;
  height: 3px;
  background-color: white;
  border-radius: 50%;
}
.call-to-action div p2 {
  font-size: var(--small-font-size);
  line-height: var(--compact-line-height);
}
.call-to-action button {
  width: 151px;
  height: 44px;
  border: 1px solid transparent;
  border-image: linear-gradient(
      125deg,
      #0d8ed3 5.44%,
      #0b60bb 17.95%,
      #0a3aa7 36.44%,
      #6a387d 69.53%,
      #c53754 105.59%,
      #fa5240 117.57%
    )
    1;
  font-size: var(--small-font-size);
  line-height: var(--compact-line-height);
  font-family: var(--extra-bold-book-font);
  font-weight: var(--book-extra-boldfont-weight);
  letter-spacing: var(--xl-letter-spacing);
}
.call-to-action div:nth-child(2) {
  margin-bottom: 0px;
}
.dev-mark-diz-tech {
  margin-top: 348px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1030px;
}
.dev-mark-diz-tech div p {
  font-size: var(--medium-font-size);
  line-height: var(--relaxed-line-height);
  text-align: center;
}
.dmdt-p-wrapper {
  margin-bottom: 216px;
}
.big-numbers-info-wrapper {
  width: 120%;
  max-width: 120%;
  display: flex;
  gap: 80px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.big-numbers-info-wrapper::-webkit-scrollbar {
  display: none;
}
.bn-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.bn-item h1 {
  font-size: var(--huge-font-size);
  font-weight: var(--book-xxl-boldfont-weight);
  font-family: var(--extra-bold-book-font);
  letter-spacing: var(--s-letter-spacing);
}
.bn-item:nth-child(1) h1 {
  background: conic-gradient(
    from 90deg at 73.72% 50%,
    #6a4293 89.2747038602829deg,
    #c75593 202.73809432983398deg
  );
  -webkit-background-clip: text;
  color: transparent;
}
.bn-item:nth-child(2) h1 {
  background: conic-gradient(
    from 118deg at 29.17% 50%,
    #2361a6 107.5842833518982deg,
    #c75593 232.76602506637573deg,
    #694696 336.43709421157837deg
  );
  -webkit-background-clip: text;
  color: transparent;
}
.bn-item:nth-child(3) h1 {
  background: conic-gradient(
    from 118deg at 29.17% 50%,
    #2361a6 38.25952559709549deg,
    #694696 319.5926070213318deg
  );
  -webkit-background-clip: text;
  color: transparent;
}
.bn-item:nth-child(4) h1 {
  background: conic-gradient(
    from 104deg at -7.1% 67.63%,
    #2361a6 281.6798400878906deg,
    #694696 332.49330282211304deg,
    #c75593 358.1250071525574deg
  );
  -webkit-background-clip: text;
  color: transparent;
}
.bn-item:nth-child(5) h1 {
  background: conic-gradient(
    from 80deg at 53.24% 50%,
    #804b73 97.9131817817688deg,
    #ab415c 150.00729203224182deg,
    #c35493 216.7587947845459deg,
    #694696 312.76647090911865deg
  );
  -webkit-background-clip: text;
  color: transparent;
}
.bn-item:nth-child(6) h1 {
  background: conic-gradient(
    from 70deg at 62.39% 60.9%,
    #c88f6f 117.4518620967865deg,
    #ab415c 221.5480399131775deg,
    #804b73 291.4208722114563deg,
    #694696 321.2520360946655deg
  );
  -webkit-background-clip: text;
  color: transparent;
}
.location-section {
  position: relative;
  width: 100%;
  height: auto;
  border: 1px solid #000;
}
.location-section * {
  background-color: transparent;
}
.location-map {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 889px;
  background-image: url("./assets/visuals/split-map.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.location-pin img {
  position: absolute;
  top: 55.59%;
  left: 68.42%;
  width: 160px;
  height: 142.71px;
}
.location-content {
  position: absolute;
  top: 246px;
  left: 208px;
  max-width: 402px;
  z-index: 2;
  height: 396px;
}
.location-header {
  margin-bottom: 16px;
}
.location-header p {
  font-size: var(--medium-font-size);
  font-weight: 300px;
  line-height: 28px;
  letter-spacing: var(--m-letter-spacing);
  text-align: left;
  margin: 0;
}
.location-header h3 {
  font-family: var(--extra-bold-book-font);
  font-size: var(--huge-font-size);
  font-weight: var(--book-xxl-boldfont-weight);
  line-height: 120px;
  letter-spacing: var(--xs-letter-spacing);
}
.location-copy h2 {
  width: 402px; /* promjena iz 100%*/
  height: 136px;
  font-family: var(--extra-bold-book-font);
  font-size: var(--x-large-font-size);
  font-weight: 800;
  line-height: 68px;
  letter-spacing: var(--s-letter-spacing);
  text-align: left;
}
.location-copy p {
  font-size: var(--small-font-size);
  line-height: var(--compact-line-height);
  width: 402px; /* promjena iz 100%*/
  height: 72px;
  line-height: 24px;
}
.intermediate-text {
  font-size: var(--medium-font-size);
  line-height: var(--relaxed-line-height);
  text-align: center;
  margin-top: 348px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  max-width: 1030px;
}
.livestream-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  border: 1px solid #000;
}
.livestream-content {
  max-width: 504px;
}
.livestream-section h2 {
  font-family: var(--extra-bold-book-font);
  font-size: var(--huge-font-size);
  margin-bottom: 15px;
  width: 504px;
}
.livestream-section p {
  font-size: var(--small-font-size);
  margin-bottom: 50px;
  width: 400px;
}
.livestream-section button {
  margin-left: 20px;
  width: 151px;
  height: 44px;
  border: 1px solid transparent;
  border-image: linear-gradient(
      125deg,
      #0d8ed3 5.44%,
      #0b60bb 17.95%,
      #0a3aa7 36.44%,
      #6a387d 69.53%,
      #c53754 105.59%,
      #fa5240 117.57%
    )
    1;
  font-size: var(--small-font-size);
  line-height: var(--compact-line-height);
  font-family: var(--extra-bold-book-font);
  font-weight: var(--book-extra-boldfont-weight);
  letter-spacing: var(--xl-letter-spacing);
}
#livestreamButtonMobile {
  display: none;
}
.livestream-img {
  margin-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 1506.362px;
  height: 1334.531px;
}
.livestream-img img {
  width: 100%;
  height: auto;
}
.fly-talks {
  max-width: 1231px;
  max-height: 772px;
  display: flex;
  gap: 100px;
  margin-top: 524px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 317px;
}
.ft-left {
  max-width: 460px;
  max-height: 332px;
  margin-top: auto;
  margin-bottom: auto;
}
.ft-left h1 {
  font-size: var(--huge-font-size);
  letter-spacing: var(--xs-letter-spacing);
  font-family: var(--extra-bold-book-font);
  margin-bottom: 56px;
}
.ft-left p {
  max-width: 400px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.51);
  font-size: var(--small-font-size);
  line-height: var(--normal-line-height);
  margin-bottom: 40px;
}
.ft-button-wrapper button {
  width: 151px;
  height: 44px;
  border: 1px solid transparent;
  border-image: linear-gradient(
      125deg,
      #0d8ed3 5.44%,
      #0b60bb 17.95%,
      #0a3aa7 36.44%,
      #6a387d 69.53%,
      #c53754 105.59%,
      #fa5240 117.57%
    )
    1;
  font-size: var(--small-font-size);
  line-height: var(--compact-line-height);
  font-family: var(--extra-bold-book-font);
  font-weight: var(--book-extra-boldfont-weight);
  letter-spacing: var(--xl-letter-spacing);
}
.ft-right {
  max-width: 644px;
  max-height: 772px;
  position: relative;
}
.ft-image1 {
  position: relative;
  z-index: 2;
  max-width: 411px;
  max-height: 304px;
  top: 55px;
  left: 120px;
  object-fit: cover;
}
.ft-image2 {
  position: relative;
  z-index: 1;
  max-width: 304px;
  max-height: 400px;
  bottom: 92px;
  object-fit: cover;
}
.ft-image3 {
  position: relative;
  z-index: 4;
  max-width: 328px;
  max-height: 540px;
  object-fit: cover;
}
.time-table {
  display: flex;
  flex-direction: column;
  max-width: 920px;
  margin: 0 auto;
  margin-top: 400px;
}
.tt-header {
  font-size: var(--huge-font-size);
  font-family: var(--extra-bold-book-font);
  margin: 0 auto;
  margin-bottom: 114px;
}
.tt-dates {
  max-width: 920px;
  max-height: 50px;
  margin-bottom: 53px;
}
.tt-buttons-wrapper {
  display: flex;
  gap: 40px;
  margin: 0 auto;
  max-width: 308px;
  justify-content: space-between;
}
.tt-buttons-wrapper button:nth-child(1) {
  font-size: var(--medium-font-size);
  background: linear-gradient(
    125deg,
    #0d8ed3 5.44%,
    #0b60bb 17.95%,
    #0a3aa7 36.44%,
    #6a387d 69.53%,
    #c53754 105.59%,
    #fa5240 117.57%
  );
  color: transparent;
  -webkit-background-clip: text;
  position: relative;
  padding-bottom: 15px;
  border: none;
}

.tt-buttons-wrapper button:nth-child(1)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    125deg,
    #0d8ed3 5.44%,
    #0b60bb 17.95%,
    #0a3aa7 36.44%,
    #6a387d 69.53%,
    #c53754 105.59%,
    #fa5240 117.57%
  );
}
.tt-buttons-wrapper button:nth-child(2) {
  font-size: var(--medium-font-size);
  border: none;
  padding-bottom: 15px;
  color: #54545f;
}
.tt-activity-types {
  width: 100%;
  margin-bottom: 48px;
}
.tt-activities-wrapper {
  max-width: 372px;
  margin: 0 auto;
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
.tt-activities-wrapper button {
  border: none;
  font-size: var(--small-font-size);
  color: #54545f;
}
.tt-activities-wrapper button:nth-child(1) {
  color: white;
}
.tt-expanded-card {
  width: 90%;
  padding: 32px 32px 24px 32px;
  gap: 39px;
  display: flex;
  background: rgba(245, 245, 247, 0.05);
  height: auto;
}
.ttec-left {
  background-color: rgba(245, 245, 247, 0.05);
  height: 100%;
  max-width: 70%;
}
.ttec-right {
  max-width: 728px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: transparent;
  height: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.ttec-right p {
  display: blok;
  font-size: var(--small-font-size);
  line-height: var(--normal-line-height);
  background-color: transparent;
  word-wrap: break-word;
  max-width: 100%;
}
.ttec-right hr {
  color: white;
  opacity: 0.1;
  height: 1px;
  align-self: stretch;
}
.ttec-right2 {
  max-width: 728px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 9px;
  max-height: 100px;
  background-color: transparent;
}
.ttec-right2 p {
  font-size: var(--small-font-size);
  line-height: var(--normal-line-height);
  background-color: transparent;
}
.ttec-right2 hr {
  color: white;
  opacity: 0.1;
  height: 1px;
  align-self: stretch;
}
.profile-card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: transparent;
}
.profile-card div {
  display: flex;
  background-color: transparent;
}
.profile-card img:nth-child(1) {
  margin-right: 24px;
}
.profile-card img:nth-child(2) {
  margin-left: auto;
  background-color: transparent;
}
.personal-info {
  display: flex;
  flex-direction: column;
}
.personal-info p:nth-child(1) {
  font-size: var(--small-font-size);
  font-family: var(--extra-bold-book-font);
  background-color: transparent;
}
.ttex-right-header-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  flex-wrap: wrap;
}
.first-tag {
  font-size: var(--tiny-font-size);
  background: rgba(255, 255, 255, 0.1);
  padding-left: 8px;
  padding-right: 8px;
  background-blend-mode: hue, normal;
  font-weight: 400;
}
.ttex-right-header-wrapper h3:nth-of-type(2) {
  font-size: var(--tiny-font-size);
  font-weight: 400;
  background-color: transparent;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.ttex-right-header-wrapper h3 {
  font-size: var(--small-font-size);
  font-family: var(--extra-bold-book-font);
  width: 100%;
  margin-left: 11px;
  display: flex;
  gap: 11px;
  background-color: transparent;
  overflow-wrap: break-word;
  word-wrap: break-word;
  flex-wrap: wrap;
}
.ttex-right-header-wrapper h3 #text {
  margin: auto 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.yt-icon {
  display: flex;
  width: 20px;
  height: 20px;
  padding: 2.917px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.live-icon {
  display: flex;
  width: 14px;
  height: 14px;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}
.chevron-icon {
  margin-left: auto;
}
.chevron-icon2 {
  margin-left: auto;
  transform: rotate(180deg);
}
.all-cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.tt-ordinary-card {
  width: 90%;
  padding: 32px 32px 24px 32px;
  gap: 39px;
  display: flex;
  background: rgba(245, 245, 247, 0.05);
}
.yt-icon2 {
  display: none;
}
.live-icon2 {
  display: none;
}
.live-word2 {
  display: none;
}
.friends-and-partners {
  max-width: 799px;
  margin: 0 auto;
  margin-top: 524px;
}
.friends-and-partners p {
  font-size: var(--small-font-size);
  margin-bottom: 25px;
  text-align: center;
}
.friends-and-partners p:nth-of-type(2) {
  color: transparent;
  font-size: var(--x-large-font-size);
  font-family: var(--extra-bold-book-font);
  background: linear-gradient(
    45deg,
    #00b5c1 9.43%,
    #4336b9 41.88%,
    #fa4343 106.56%
  );
  -webkit-background-clip: text;
  background-clip: text;
}
.golden-sponsors {
  max-width: 1232px;
  margin-top: 514px;
  margin-left: auto;
  margin-right: auto;
}
.golden-sponsors h1 {
  font-size: var(--huge-font-size);
  font-family: var(--extra-bold-book-font);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 265px;
  text-align: center;
}
.logos-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 922px;

  margin-bottom: 175px;
  margin-left: auto;
  margin-right: auto;
}

.logos-wrapper img:nth-of-type(2) {
  height: 20px;
  margin: auto 0;
}
.gs-img-txts {
  display: flex;
  flex-direction: column;
  gap: 90px;
}
.image3 {
  position: relative;
  display: block;
}

.image3:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    123deg,
    rgba(13, 142, 211, 0.68) -3.37%,
    rgba(10, 58, 167, 0.68) 17.75%,
    rgba(197, 55, 84, 0.68) 53.11%,
    rgba(250, 82, 64, 0.68) 70.34%,
    rgba(252, 221, 163, 0.68) 103.4%
  );
}
.gs-img-txts {
  display: flex;
  flex-direction: column;
  gap: 90px;
}
.gs-img-txt {
  display: flex;
  gap: 40px;
}
.gs-img-txt p {
  max-width: 470px;
  display: flex;
  flex-direction: column;
  font-size: var(--small-font-size);
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
}
.gs-img-txt p span {
  font-size: var(--medium-font-size);
  font-family: var(--extra-bold-book-font);
  margin-bottom: 11px;
}
.gs-img-txts hr {
  display: none;
}

@media screen and (max-width: 1050px) {
  .gs-img-txts hr {
    display: flex;
    margin: 0 auto;
    opacity: 0.1;
    width: 80%;
  }
  .image3 {
    max-width: 327px;
    max-height: 218px;
    margin: 0 auto;
  }
  .gs-img-text p {
    max-width: 80%;
    margin: 0 auto;
  }
  .gs-img-txt:nth-child(even) {
    flex-direction: column-reverse;
  }
  .gs-img-txt {
    flex-direction: column;
  }
  .logos-wrapper {
    flex-direction: column;
    gap: 56px;
  }
  .logos-wrapper img {
    width: 247px;
    height: 46px;
    margin: 0 auto;
  }
  .logos-wrapper img:nth-of-type(2) {
    width: 318px;
    height: 33px;
    margin: 0 auto;
  }
  .logos-wrapper img:nth-of-type(3) {
    width: 318px;
    height: 48px;
    margin: 0 auto;
  }
  .golden-sponsors h1 {
    font-size: var(--x-large-font-size);
  }
  .chevron-icon2 {
    display: none;
  }
  .profile-card {
    justify-content: flex-start;
    margin-left: 0;
  }
  .chevron-icon {
    display: none;
  }
  .ttec-left {
    display: flex;
  }
  .ttex-right-header-wrapper h3 {
    flex-direction: column;
  }
  .first-tag {
    width: 25px;
  }
  .profile-card {
    flex-direction: column;
  }
  .profico-image {
    margin-left: 0;
    margin-right: auto;
  }
  .yt-icon {
    display: none;
  }
  .live-icon {
    display: none;
  }
  .live-word {
    display: none;
  }
  .live-icon2 {
    display: flex;
  }
  .yt-icon2 {
    display: flex;
  }
  .live-word2 {
    display: flex;
    max-width: 130px;
  }
  .ttec-left {
    max-width: 200px;
  }
  .ttec-left p {
    width: 100px;
  }
  .tt-expanded-card {
    flex-direction: column;
  }
  .tt-ordinary-card {
    flex-direction: column;
  }
  .ttec-right2 {
    width: auto;
  }
  .ft-image1 {
    position: relative;
    z-index: 2;
    top: 65px;
    left: 90px;
    object-fit: cover;
    width: 300px;
    height: auto;
  }
  .ft-image2 {
    position: relative;
    z-index: 1;
    bottom: 92px;
    right: auto;
    object-fit: cover;
    width: 195px;
    height: auto;
  }
  .ft-image3 {
    position: relative;
    z-index: 4;
    left: auto;
    object-fit: cover;
    width: 230px;
    height: auto;
  }
  .ft-right {
    width: 100%;
  }
  .friends-and-partners p:nth-of-type(2) {
    font-size: var(--large-font-size);
  }
}
@media screen and (min-width: 767px) and (max-width: 1440px) {
  .gs-img-text p {
    max-width: 327px;
    margin: 0 auto;
  }
  .friends-and-partners p:nth-of-type(2) {
    font-size: var(--large-font-size);
  }
  .profile-card {
    justify-content: flex-start;
  }
  .ttec-left {
    max-width: 200px;
  }
  .chevron-icon {
    display: none;
  }
  .ttec-left {
    display: flex;
  }
  .ttex-right-header-wrapper h3 {
    flex-direction: column;
  }
  .first-tag {
    width: 25px;
  }
  .profile-card {
    flex-direction: column;
  }
  .profico-image {
    margin-left: 0;
    margin-right: auto;
  }
  .yt-icon {
    display: none;
  }
  .live-icon {
    display: none;
  }
  .live-word {
    display: none;
  }
  .live-word2 {
    display: flex;
    max-width: 130px;
  }
  .ttec-left {
    max-width: 150px;
  }
  .ttec-left p {
    width: 100px;
  }
  .tt-expanded-card {
    flex-direction: column;
  }
  .tt-ordinary-card {
    flex-direction: column;
  }
  .ttec-right2 {
    width: auto;
  }
  .tt-header {
    font-size: var(--large-font-size);
  }
  .header {
    width: 100%;
  }
  .header-nav button {
    margin-right: 150px;
  }
  .location-map {
    background-size: contain;
    background-repeat: no-repeat;
  }
  .location-pin img {
    top: 50.59%;
    left: 66.42%;
  }
  .livestream-img {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .gs-img-text p {
    max-width: 327px;
    margin: 0 auto;
  }
  .friends-and-partners p:nth-of-type(2) {
    font-size: var(--large-font-size);
  }
  .profile-card {
    justify-content: flex-start;
    margin-left: 0;
  }
  .ttec-left {
    max-width: 200px;
  }
  .tt-header {
    font-size: var(--large-font-size);
  }
  .header {
    display: none;
  }
  .location-content {
    left: 10px;
  }
  .location-map {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    height: 500px;
  }
  .location-pin img {
    width: 20px;
    height: 27px;
    top: 57.59%;
    left: 72.42%;
  }
  .location-header {
    margin-top: 100px;
  }
  .location-header p {
    font-size: var(--small-font-size);
  }
  .location-header h3 {
    font-size: var(--xx-large-font-size);
    line-height: var(--spacious-line-height);
  }
  .location-copy h2 {
    font-size: var(--large-font-size);
    line-height: var(--cozy-line-height);
    margin-top: 100px;
  }
  .intermediate-text {
    margin-top: 700px;
  }
  .header-mobile {
    display: flex;
    justify-content: space-between;
    width: auto;
  }
  .header-mobile .hamburger {
    display: block;
    padding-right: 25px;
  }
  .call-to-action {
    margin-top: 136px;
    max-width: 332px;
    max-height: 272px;
  }
  .call-to-action h6 {
    max-width: 100%;
    font-size: var(--small-font-size);
  }
  .call-to-action p {
    max-width: 100%;
    font-size: var(--x-large-font-size);
  }
  .big-numbers-info-wrapper {
    flex-direction: column;
  }
  .bn-item {
    align-items: center;
  }
  .bn-item h1 {
    font-size: var(--x-large-font-size);
  }
  .big-numbers-info-wrapper {
    max-width: 100%;
  }
  .livestream-section {
    flex-direction: column;
    align-items: center;
    padding-top: 700px;
    width: 100%;
  }
  .livestream-content,
  .livestream-img {
    width: 100%;
  }
  .livestream-img {
    order: 2;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
    display: block;
    max-width: 60%;
  }
  .livestream-content {
    order: 1;
  }
  #livestreamButtonDesktop {
    display: none;
  }
  #livestreamButtonMobile {
    display: block;
  }
  .livestream-section h2 {
    font-size: var(--xx-large-font-size);
    line-height: var(--airy-line-height);
  }
  .fly-talks {
    flex-direction: column;
  }
  .ft-left {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .ft-left h1 {
    font-size: var(--x-large-font-size);
    margin-bottom: 22px;
  }
  .ft-left p {
    font-size: var(--small-font-size);
    width: 100%;
  }
  .ft-image1 {
    position: relative;
    z-index: 2;
    top: 65px;
    left: 90px;
    object-fit: cover;
    width: 300px;
    height: auto;
  }
  .ft-image2 {
    position: relative;
    z-index: 1;
    bottom: 92px;
    right: auto;
    object-fit: cover;
    width: 195px;
    height: auto;
  }
  .ft-image3 {
    position: relative;
    z-index: 4;
    left: auto;
    object-fit: cover;
    width: 230px;
    height: auto;
  }
}
