@font-face {
  font-family: "Book";
  src: url("assets/fonts/FuseV.2Display-Book.woff2") format("woff2");
}
@font-face {
  font-family: "BookItalic";
  src: url("assets/fonts/FuseV.2Display-BookItalic.woff2") format("woff2");
}
@font-face {
  font-family: "ExtraBoldBook";
  src: url("assets/fonts/FuseV.2Display-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "ExtraBoldItalicBook";
  src: url("assets/fonts/FuseV.2Display-ExtraBoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "TextBook";
  src: url("assets/fonts/FuseV.2Text-Book.woff2") format("woff2");
}
@font-face {
  font-family: "TextBookItalic";
  src: url("assets/fonts/FuseV.2Text-BookItalic.woff2") format("woff2");
}

:root {
  --book-font: "Book", sans-serif;
  --book-italic-font: "BookItalic", sans-serif;
  --extra-bold-book-font: "ExtraBoldBook", sans-serif;
  --extra-bold-italic-book-font: "ExtraBoldItalicBook", sans-serif;
  --text-book-font: "TextBook", sans-serif;
  --text-book-italic-font: "TextBookItalic", sans-serif;

  --book-font-weight: Book;
  --book-extra-boldfont-weight: ExtraBold;
  --book-xxl-boldfont-weight: 800;

  --xs-letter-spacing: -2%;
  --s-letter-spacing: -1%;
  --m-letter-spacing: 0%;
  --l-letter-spacing: 2%;
  --xl-letter-spacing: 8%;

  --tight-line-height: 14px;
  --compact-line-height: 16px;
  --normal-line-height: 24px;
  --relaxed-line-height: 28px;
  --loose-line-height: 32px;
  --cozy-line-height: 40px;
  --spacious-line-height: 56px;
  --airy-line-height: 88px;
  --generous-line-height: 120px;

  --tiny-font-size: 14px;
  --small-font-size: 16px;
  --medium-font-size: 24px;
  --large-font-size: 36px;
  --x-large-font-size: 54px;
  --xx-large-font-size: 81px;
  --huge-font-size: 122px;
}
* {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--book-font);
  overflow-x: hidden;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1232px;
  height: 44px;
  margin-top: 32px;
  margin-left: 104px;
}
.header-logo img {
  height: 44px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav a {
  text-decoration: none;
  margin: 0 20px;
}
.header-nav a:first-child:hover {
  background: conic-gradient(
      from 118deg at 29.17% 50%,
      #2361a6 107.5842833518982deg,
      #c75593 232.76602506637573deg,
      #694696 336.43709421157837deg
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}
.header-nav button {
  margin-left: 20px;
  width: 151px;
  height: 44px;
  border: 1px solid transparent;
  border-image: linear-gradient(
      125deg,
      #0d8ed3 5.44%,
      #0b60bb 17.95%,
      #0a3aa7 36.44%,
      #6a387d 69.53%,
      #c53754 105.59%,
      #fa5240 117.57%
    )
    1;
  font-size: var(--small-font-size);
  line-height: var(--compact-line-height);
  font-family: var(--extra-bold-book-font);
  font-weight: var(--book-extra-boldfont-weight);
  letter-spacing: var(--xl-letter-spacing);
}
.header-mobile {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 375px;
  height: 80px;
  padding: 24px;
  box-sizing: border-box;
}
.header-mobile .header-logo img {
  width: 24px;
  height: 28.71px;
}
.hamburger {
  display: none;
  width: 24px;
  padding: 9.33px 4px 8px 4px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 22px;
}
.hamburger-line {
  display: block;
  width: 30px;
  height: 1px;
  background-color: white;
  margin: 5px 0;
}
.call-to-action {
  max-width: 1030px;
  max-height: 336px;
  margin: 0 auto;
  margin-top: 152px;
}
.call-to-action h6 {
  max-width: 1030px;
  text-align: center;
  font-size: var(--medium-font-size);
  font-weight: var(--book-font);
  line-height: var(--relaxed-line-height);
  margin-bottom: 16px;
}
.call-to-action p {
  text-align: center;
  font-family: var(--extra-bold-book-font);
  font-size: var(--huge-font-size);
  font-weight: var(--book-xxl-boldfont-weight);
  margin-bottom: 88px;
  background: linear-gradient(
    45deg,
    #00b5c1 9.43%,
    #4336b9 41.88%,
    #fa4343 106.56%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.call-to-action div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 24px;
}
.call-to-action div svg {
  width: 3px;
  height: 3px;
  background-color: white;
  border-radius: 50%;
}
.call-to-action div p2 {
  font-size: var(--small-font-size);
  line-height: var(--compact-line-height);
}
.call-to-action button {
  width: 151px;
  height: 44px;
  border: 1px solid transparent;
  border-image: linear-gradient(
      125deg,
      #0d8ed3 5.44%,
      #0b60bb 17.95%,
      #0a3aa7 36.44%,
      #6a387d 69.53%,
      #c53754 105.59%,
      #fa5240 117.57%
    )
    1;
  font-size: var(--small-font-size);
  line-height: var(--compact-line-height);
  font-family: var(--extra-bold-book-font);
  font-weight: var(--book-extra-boldfont-weight);
  letter-spacing: var(--xl-letter-spacing);
}
.call-to-action div:nth-child(2) {
  margin-bottom: 0px;
}
.dev-mark-diz-tech {
  margin-top: 348px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1030px;
}
.dev-mark-diz-tech div p {
  font-size: var(--medium-font-size);
  line-height: var(--relaxed-line-height);
  text-align: center;
}
.dmdt-p-wrapper {
  margin-bottom: 216px;
}
.big-numbers-info-wrapper {
  width: 120%;
  max-width: 120%;
  display: flex;
  gap: 80px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.big-numbers-info-wrapper::-webkit-scrollbar {
  display: none;
}
.bn-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.bn-item h1 {
  font-size: var(--huge-font-size);
  font-weight: var(--book-xxl-boldfont-weight);
  font-family: var(--extra-bold-book-font);
  letter-spacing: var(--s-letter-spacing);
}
.bn-item:nth-child(1) h1 {
  background: conic-gradient(
    from 90deg at 73.72% 50%,
    #6a4293 89.2747038602829deg,
    #c75593 202.73809432983398deg
  );
  -webkit-background-clip: text;
  color: transparent;
}
.bn-item:nth-child(2) h1 {
  background: conic-gradient(
    from 118deg at 29.17% 50%,
    #2361a6 107.5842833518982deg,
    #c75593 232.76602506637573deg,
    #694696 336.43709421157837deg
  );
  -webkit-background-clip: text;
  color: transparent;
}
.bn-item:nth-child(3) h1 {
  background: conic-gradient(
    from 118deg at 29.17% 50%,
    #2361a6 38.25952559709549deg,
    #694696 319.5926070213318deg
  );
  -webkit-background-clip: text;
  color: transparent;
}
.bn-item:nth-child(4) h1 {
  background: conic-gradient(
    from 104deg at -7.1% 67.63%,
    #2361a6 281.6798400878906deg,
    #694696 332.49330282211304deg,
    #c75593 358.1250071525574deg
  );
  -webkit-background-clip: text;
  color: transparent;
}
.bn-item:nth-child(5) h1 {
  background: conic-gradient(
    from 80deg at 53.24% 50%,
    #804b73 97.9131817817688deg,
    #ab415c 150.00729203224182deg,
    #c35493 216.7587947845459deg,
    #694696 312.76647090911865deg
  );
  -webkit-background-clip: text;
  color: transparent;
}
.bn-item:nth-child(6) h1 {
  background: conic-gradient(
    from 70deg at 62.39% 60.9%,
    #c88f6f 117.4518620967865deg,
    #ab415c 221.5480399131775deg,
    #804b73 291.4208722114563deg,
    #694696 321.2520360946655deg
  );
  -webkit-background-clip: text;
  color: transparent;
}
.location-section {
  position: relative;
  width: 100%;
  height: auto;
  border: 1px solid #000;
}
.location-section  * {
  background-color: transparent;
}
.location-map {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 889px; 
  background-image: url('./assets/visuals/split-map.png');
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.location-pin img{
  position: absolute;
  top: 55.59%;
  left: 68.42%;
  width: 160px;
  height: 142.71px;
}
.location-content {
  position: absolute;
  top: 246px;
  left: 208px;
  max-width: 259px;
  z-index: 2;
}
.location-header {
  margin-bottom: 16px;
}
.location-header p {
  font-size: var(--medium-font-size);
  font-weight: 300px;
  line-height: 28px;
  letter-spacing: var(--m-letter-spacing);
  text-align: left;
  margin: 0;
}
.location-header h3 {
  font-family: var(--extra-bold-book-font);
  font-size: var(--huge-font-size);
  font-weight: var(--book-xxl-boldfont-weight);
  line-height: 120px;
  letter-spacing: var(--xs-letter-spacing);
}
.location-copy h2 {
  width: 100%;
  height: 136px;
  font-family: var(--extra-bold-book-font);
  font-size: var(--x-large-font-size);
  font-weight: 800;
  line-height: 68px;
  letter-spacing: var(--s-letter-spacing);
  text-align: left;
}
.location-copy p {
  font-size: var(--small-font-size);
  line-height: var(--compact-line-height);
  width: 100%;
  height: 72px;
  line-height: 24px;
}

@media screen and (min-width: 767px) and (max-width: 1440px) {
  .header {
    width: 100%;
  }
  .header-nav button {
    margin-right: 150px;
  }
  .location-map {
    background-size: contain;
    background-repeat: no-repeat;
  }
  .location-pin img {
    top: 50.59%;
    left: 66.42%;
  }
}

@media screen and (max-width: 767px) {
  .header {
    display: none;
  }
  .location-map {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    height: 500px;
  }
  .location-pin img {
    width: 20px;
    height: 27px;
    top: 57.59%;
    left: 72.42%;
  }
  .location-header {
    margin-top: 100px;
  }
  .location-header p {
    font-size: var(--small-font-size);
  }
  .location-header h3{
    font-size: var(--xx-large-font-size);
    line-height: 64px;
  }
  .location-copy h2 {
    font-size: var(--large-font-size);
    line-height: 48px;
    margin-top: 100px;
  }
  .header-mobile {
    display: flex;
    justify-content: space-between;
    width: auto;
  }
  .header-mobile .hamburger {
    display: block;
    padding-right: 25px; 
  }
  .call-to-action {
    margin-top: 136px;
    max-width: 332px;
    max-height: 272px;
  }
  .call-to-action h6 {
    max-width: 100%;
    font-size: var(--small-font-size);
  }
  .call-to-action p {
    max-width: 100%;
    font-size: var(--x-large-font-size);
  }
  .big-numbers-info-wrapper {
    flex-direction: column;
  }
  .bn-item {
    align-items: center;
  }
  .bn-item h1 {
    font-size: var(--x-large-font-size);
  }
  .big-numbers-info-wrapper {
    max-width: 100%;
  }
}


